{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-content project"> 
    <div class="row">
        <div class="col-12">
            <div class="main-title">
                Task List
            </div>
            <div class="box">
                <div class="box-body">
                  
                    <div class="table-responsive">
                        <table class="table table-vcenter table-bordered dataTable" id="task-profile">
                            <thead>
                                <tr class="top">
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 5%;">ID</th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 25%;">project_title</th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 10%;">level</th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 10%;">Category</th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 10%;">subcategory</th>
                                     <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 10%;">country_name</th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 10%;">destination</th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 5%;">created_at</th>
                                    <th class="border-bottom-0 sorting fs-14 font-w500" style="width: 5%;">Status</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in tasks %}
                                <tr class="{% if forloop.counter0|divisibleby:2 %}even{% else %}odd{% endif %}">
                                    <td><a href="{% url 'task_detail' task.id %}">{{ task.id }}</a></td>
                                    <td><a href="{% url 'task_detail' task.id %}">{{ task.project_title }}</a></td>
                                    <td>{{ task.level }}</td>
                                    <td>{{ task.main_category }}</td>
                                    <td>{{ task.subcategory }} </td>
                                     <td>{{ task.country_name }} </td>
                                    <td>{{ task.destination_name }}</td>
                                    <td>{{ task.created_at }}</td>
                                    <td style="{% if task.status == 'DONE' %} color:green; font-weight:bold; {% elif task.status == 'TRANSLATED'  %} color:orange; {% endif %}">
                                        <span class="badge">
                                            {{ task.status }}
                                        </span>
                                       </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="6">No Tasks found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <div class="pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" class="btn btn-outline-primary">&laquo; First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-primary">Previous</a>
                                {% endif %}
                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-primary">Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-primary">Last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#task-profile').DataTable({
            "pageLength": 50,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>

{% endblock %}
